// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.list-item__img {
    width: 150px;
}

.book__img {
    max-width: 260px;
}

.book__property-list tr {
    height: 40px;
}

.book__property-list th {
    width: 100px;
}
